/*footer*/
.footer-container {
  width: 100%;
  background-color: rgb(124, 123, 123);
  color: #fefefb;
  display: flex;
  justify-content: center;

  div {
    max-width: 400px;
    display: flex;
    flex-direction: row;

    .social {
      display: flex;
      flex-direction: column;
      padding: 30px;

      h4 {
        font-size: 1.6rem;
      }

      i {
        font-size: 1.6rem;
        padding-top: 8px;
      }
    }

    .footer-nav {
      display: flex;
      flex-direction: column;
      padding: 30px;

      h4 {
        font-size: 1.6rem;
      }

      li {
        font-size: 1.2rem;
      }
    }
  }
}

.copyright {
  background-color: rgb(124, 123, 123);
  color: #fefefb;
  text-align: center;
  font-size: 1.2rem;
}
