/*top nav*/
.top-nav {
  width: 100%;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;

    li {
      padding: 8px;
      font-size: 1.3rem;
      font-weight: 300;

      @media @tablet {
        font-size: 1.5rem;
      }
      @media @desktop {
        font-size: 1.7rem;
      }
    }

    img {
      width: 4rem;

      @media @tablet {
        width: 6rem;
        padding-left: 10px;
        padding-right: 10px;
      }

      @media @desktop {
        width: 7rem;
      }
    }
  }
}
