/*features*/
.features {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;

  .card {
    width: 70%;
    padding-bottom: 25px;
    max-width: 400px;

    h3 {
      font-size: 1.6rem;
      font-family: "Fredericka the Great", cursive;
      padding-bottom: 15px;
    }
  }

  .icon {
    font-size: 4rem;
    color: #f0821b;
  }

  .card-info {
    text-align: justify;
  }
}

/*play*/
.play {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(124, 123, 123);
  padding-top: 25px;
  padding-bottom: 25px;

  .play-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fefefb;
    padding-top: 40px;

    button {
      padding: 1rem 2rem;
      border-radius: 30px;
      outline: none;
      background-color: #fefefb;
      border: #fefefb;
      color: #fa8d26;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #fa8d26;
        color: #fefefb;
      }
    }

    h2 {
      font-size: 2rem;
      padding-top: 15px;
    }
    i {
      font-size: 3rem;
      padding: 10px;
      color: #fefefb;
    }
  }
}
